:root{
    --background: #161a23;
}
html,body{
    
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    background-color: var(--background);
    height: 100vh;
    width: 100vh;
}
.small-container{
    height: 10rem;
    width: 10rem;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.small-container .navigation{
    position: relative;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.small-container .navigation .box{
    position: absolute;
    background-color: aliceblue;
    height: 2rem;
    width: 2rem;
    justify-content: center;
    align-items: center;
    background: #fff;
    transform: translate(calc(55px * var(--x)), calc(55px * var(--y)));
    transition: transform 0.5s, width 0.5s, height 0.5s;
    transition-delay: calc(0.1s * var(--i));
}
.small-container .navigation .close{
    position: absolute;
    background-color: aliceblue;
    height: 2rem;
    width: 2rem;
}

ion-icon{
    display: none;
}

.small-container.active {
    height: 16rem;
    width: 16rem;
}

.small-container.active .box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #1f2536;
    height: 4.2rem;
    width: 4.2rem;
    transform: translate(calc(100px * var(--x)), calc(100px * var(--y)));
}

.small-container.active .box ion-icon{
    display: flex;
    height: 2.8rem;
    width: 2.8rem;
    color: #fff;
    transition: 0.5s;
}

.small-container.active .box ion-icon:hover{
    color: #2dfc52;
    filter: drop-shadow(0 0 3px #2dfc52) drop-shadow(0 0 6px #2dfc52) drop-shadow(0 0 12px #2dfc52);
}
.small-container.active .close{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4.2rem;
    width: 4.2rem;
    background-color: #2dfc52;
}
.small-container.active .navigation .close ion-icon{
    display: flex;
    height: 3.5rem;
    width: 3.5rem;
    transition: 0.5s;
    color: #10131c;
}